.header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: lightpink;
  font-family: "Jua", sans-serif;
  text-align: center;
  font-size: 30px;
}

.nav {
  position: fixed;
  top: 60px;
  left: 0px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: beige;
  padding-left: 20px;
  font-family: "Jua", sans-serif;
  text-align: center;
}